:root {
    --ml: 0;
    --mb: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.board {
    width: 50%;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border: 2px solid #333;
    position: relative;
}

.row {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.white {
    background: #f0d9b5;
}

.cell.black {
    background: #b58863;
}

.piece {
    width: 12%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
    position: absolute;
    transition: transform 0.5s ease;
}

.piece.white {
    background: white;
}
.piece.black {
    background: #222;
}

.piece.selected {
    outline: 4px solid rgb(0, 255, 0);
}
.explosion {
    position: absolute;
    width: 14%;
    aspect-ratio: 1;
    pointer-events: none;
}
.win-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px 40px;
    border-radius: 10px;
    font-size: 26px;
    border: 3px solid #000;
    
}

@keyframes kill {
    0% { transform: scale(0); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}
.piece.dead {
    animation: kill 0.5s forwards;
}


